.safe-area{
    height: 100vh;
    background: url('../img/screen-bg.png') no-repeat center top;
    background-size: cover;

}

.space{
    padding: 2.3rem 0 2.3rem 0;
}

.headline{
    font-size: 1.8rem;
}

.description{
    font-size: 1.25rem;
}

/*NAVBAR */
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 0.8rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}
.navbar-light .navbar-brand{
    font-size: 1.2rem;
}


/* CAROUSEL*/
.carousel-headline,
.carousel-subheadline,
.carousel-description{
    color: #fff;
}
.carousel-headline{
    font-size: 2.2;
}
.carousel-subheadline{
    font-size: 1rem;
    font-style: normal;
}
.carousel-description{
    font-size: 0.75rem;
    font-weight: 300;
}
.carousel-item{
    text-align: center;
}
.carousel-inner{
    display: flex;
    align-items: center;
}
.carousel {
    display: flex;
    height: 90vh;
}
.carousel-indicators{
    align-self: flex-end;
}

/* BUTTONS */
.btn{
    padding: .3rem 2.5rem;
    border-radius: 1.3rem;
    margin-right: 1rem;
}

/* FEATURES */
.check-headline{
    font-size: 1rem;
}
.check-description{
    font-size: 0.8rem;
}
.featured-space-headline{
    padding: 2rem 0 2rem 0;
}
.features .custom-control{
    margin-bottom: 1.5rem;
}
.custom-control-input:checked~.custom-control-indicator {
    background-color: #00bfa5;
}
.custom-checkbox .custom-control-input:checked~.custom-control-indicator{
    background-image: none;
}
.custom-checkbox .custom-control-indicator{
    border-radius: 0;
}


/*Vídeo*/
.video {
    background-color: #e5eaed;
}
