.safe-area{
    height: 100vh;
    background: url('../img/screen-bg.png') no-repeat center top;
    background-size: cover;

}

/*NAVBAR */
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 0.8rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}
.navbar-light .navbar-brand{
    font-size: 1.2rem;
}


/* CAROUSEL*/
.carousel-headline,
.carousel-subheadline,
.carousel-description{
    color: #fff;
}

.carousel-item{
    text-align: center;
}

.carousel {
    display: flex;
    height: 70vh;
    margin-top: 8rem;
}
.carousel-indicators{
    align-self: flex-end;
}



